.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.general-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.labels{
    margin-bottom: 10px;
}